@define-color background #291b1b;
@define-color accent #f9a03f;
@define-color input-bg #3b2a26;
@define-color input-fg #f4e285;
@define-color input-accent #F4743B;
@define-color entry-fg #f4e285;
@define-color entry-selected-fg #291b1b;
@define-color selection #f9a03f;
